$pri-col: #852929;

$pri-col-light: lighten($pri-col, 10%);
$pri-col-dark: darken($pri-col, 10%);

$txt-col-light: #A8A8A8;
$txt-col-dark: #202020;

$bg-col-light: #DDD;
$bg-col-dark: darken($bg-col-light, 10%);

$error-col: red;
