$small-screen: 900px;
$grid-gap: 1rem;

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gap;
}

.l-1 {
    grid-column: span 1;
}
.l-2 {
    grid-column: span 2;
}
.l-3 {
    grid-column: span 3;
}
.l-4 {
    grid-column: span 4;
}
.l-5 {
    grid-column: span 5;
}
.l-6 {
    grid-column: span 6;
}
.l-7 {
    grid-column: span 7;
}
.l-8 {
    grid-column: span 8;
}
.l-9 {
    grid-column: span 9;
}
.l-10 {
    grid-column: span 10;
}
.l-11 {
    grid-column: span 11;
}
.l-12 {
    grid-column: span 12;
}

@media screen and (max-width: $small-screen) {
    .s-1 {
        grid-column: span 1;
    }
    .s-2 {
        grid-column: span 2;
    }
    .s-3 {
        grid-column: span 3;
    }
    .s-4 {
        grid-column: span 4;
    }
    .s-5 {
        grid-column: span 5;
    }
    .s-6 {
        grid-column: span 6;
    }
    .s-7 {
        grid-column: span 7;
    }
    .s-8 {
        grid-column: span 8;
    }
    .s-9 {
        grid-column: span 9;
    }
    .s-10 {
        grid-column: span 10;
    }
    .s-11 {
        grid-column: span 11;
    }
    .s-12 {
        grid-column: span 12;
    }
}
