$header-height: 64px;
$footer-height: 64px;
$main-grid-gap: 32px;

%max-width-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $header-height auto $footer-height;
    grid-gap: $main-grid-gap;
    align-items: start;
}

header, footer {
    background-color: $pri-col;
}

header {
    height: $header-height;
}

footer {
    height: $footer-height;
}

.header-content {
    @extend %max-width-container;

    .logo {
        @extend %txt-white;
        display: inline-block;
        padding: 16px 16px 16px 0;

        &, .material-icons {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    nav {
        justify-self: right;
        margin: auto 0;

        &:before {
            @extend %material-icon;
            @extend %txt-white;

            cursor: pointer;
            font-size: 2.5rem;
            line-height: 2.5rem;
        }

        li {
            display: inline-block;
            a {
                @extend %txt-header-link;

                position: relative;
                padding: 0.5rem;


                &:active {
                    color: $txt-col-light;
                }

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 1px;
                    margin: auto;
                    content: "";
                    color: transparent;
                    background: white;

                    transition: width .2s ease;
                }

                &:hover:after {
                    width: 100%;
                }

            }
        }
    }
}

@media screen and (max-width: $small-screen) {
    .disableScroll {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    .header-content {
        nav {
            &:before {
                content: "clear";
            }

            &:after, ul {
                position: absolute;
                top: $header-height;
                height: calc(100% - #{$header-height});
                z-index: 2;

            }

            &:after {
                right: 0;
                content: '';
                width: 25%;
                background: rgba(0, 0, 0, 0.6);
            }

            ul {
                left: 0;
                width: 75%;
                display: inline-block;
                background-color: $pri-col;

                li {
                    display: block;
                    margin: 1rem;
                }
            }
        }

        nav.closed {
            &:before {
                content: "menu";
            }

            &:after {
                display: none;
            }

            ul {
                display: none;
            }
        }
    }
}


.footer-content {
    @extend %max-width-container;

    div {
        @extend %txt-white;
        justify-self: center;
        margin: auto 0;
    }
}

.content-container {
    @extend %max-width-container;

    &.fixed {
        height: calc(100vh - #{$header-height + $footer-height + (2 * $main-grid-gap)});
        padding: 0;

        .content-title {
            padding-left: 1rem;
        }
    }

    .content-title {
        margin-bottom: 1rem;
    }
}

.loading-spinner {
    width: 4rem;
    height: 4rem;
    grid-column: span 12;
    justify-self: center;

    &:after  {
        content: " ";
        display: block;
        width: 4rem;
        height: 4rem;
        margin: 0;
        border-radius: 50%;
        border: 5px solid $txt-col-light;
        border-color: $txt-col-light transparent $txt-col-light transparent;
        animation: spinner-animation 1.2s linear infinite;
    }
}

@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
