@import "reset";
@import "colors";
@import "typography";
@import "icons";
@import "grid";
@import "shadows";

@import "helpers";
@import "forms";

%max-width-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto 64px;
    grid-gap: 8px;
    align-items: start;
}

header, footer {
	background-color: $pri-col;
    height: 64px;
}

.header-content {
    @extend %max-width-container;

    .logo {
        @extend %txt-white;
        display: inline-block;
        padding: 16px 16px 16px 0;

        &, .material-icons {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    nav {
        justify-self: right;
        margin: auto 0;

        li {
            display: inline-block;

            a {
                @extend %txt-header-link;

                position: relative;
                padding: 0.5rem;

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 1px;
                    margin: auto;
                    content: "";
                    color: transparent;
                    background: white;

                    transition: width .2s ease;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}



.footer-content {
    @extend %max-width-container;

    div {
        @extend %txt-white;
        justify-self: center;
        margin: auto 0;
    }
}

.content-container {
    @extend %max-width-container;

	.content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: stretch;
	}
}

%button {
    @extend %txt-button;

    outline: 0;
    border: none;
    border-radius: 0.15rem;
    height: 2.2rem;
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: background, color, box-shadow 0.15s ease;
}

.flat-btn {
    @extend %button;

    color: $txt-col-light;

    &:hover {
        color: $pri-col;
    }

    &:active {
        color: $pri-col-dark;
    }
}

button, .btn {
    @extend %button;
    @extend %txt-white;
    @extend %shadow-2;

    background-color: $pri-col;

    &:hover {
        background-color: $pri-col-light;
        @extend %shadow-4;
    }

    &:active {
        background-color: $pri-col-dark;
    }
}

.message {
    &.author-me {
        justify-self: right;
    }

    &.author-friend {
        justify-self: left;
    }
}

.user-card {
    height: 5rem;
    border: 2px solid grey;
    border-radius: .5rem;
    box-sizing: content-box;
    
    align-items: center;
    
    img {
        height: 4rem;
        margin: .5rem;
        border: 2px solid blue;
        border-radius: 5rem;

    } 
}
