@import "reset";
@import "colors";
@import "typography";
@import "icons";
@import "grid";
@import "shadows";

@import "helpers";
@import "forms";

%max-width-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto 64px;
    grid-gap: 8px;
    align-items: start;
}

header, footer {
	background-color: $pri-col;
    height: 64px;
}

.header-content {
    @extend %max-width-container;

    .logo {
        display: inline-block;
        padding: 16px 16px 16px 0;

        &, .material-icons {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    nav {
        justify-self: right;
        margin: auto 0;

        a {
            padding: 12px 0 12px 12px;
        }
    }
}

.footer-content {
    @extend %max-width-container;

    div {
        @extend %txt-white;
        justify-self: center;
        margin: auto 0;
    }
}

.content-container {
    @extend %max-width-container;

	.content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: stretch;
	}
}

.flat-btn {
    @extend %txt-white;
}

button, .btn {
    @extend %txt-button;
    @extend %hoverable;

    width: auto;
    min-width: 2.5rem;
    height: 2rem;
    display: inline-block;
    padding: 0 1rem;
    outline: 0;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    background-color: $pri-col;
    -webkit-tap-highlight-color: transparent;
    grid-column: span 12;
    justify-self: right;

    &:hover {
        background-color: $pri-col-light;
    }

    &:active {
        background-color: $pri-col-dark;
    }
}

.message {
    &.author-me {
        justify-self: right;
    }

    &.author-friend {
        justify-self: left;
    }
}
